streamlit==1.38.0
streamlit-webrtc==0.47.7
aioice
aiortc==1.5.0  # Downgraded for stability
speechrecognition==3.10.0
pydub
PyPDF2
python-docx
pandas
requests
gTTS
nest-asyncio
openai-agents
